{% extends "main_app/base.html" %}

{% block main %}
<tr>
  <td class="content">
    <div class="px-4 rounded-3 shadow py-3">
      <h1><b>{{ title }}</b></h1>

      <p>Ludik — коллектив авторов, который рассказывает всем желающим о видеоиграх и всём, что происходит вокруг них...
      <p>Прямо сейчас вы зашли на нашу хаб-локацию: Ludik.net — платформа для нашего и вашего контента! Со своей стороны мы можем предложить:</p>
      <ul>
        <li>Читать здесь последние новости игровой и околоигровой индустрии.</li>
        <li>Общаться в комментариях (в том числе с нами).</li>
        <li>Создавать форумы и обсуждать волнующие темы.</li>
        <li>Подписываться на игры и разделы форумов, чтобы собрать из сайта собственную ленту предпочтительного контента.</li>
      </ul>
      Мы тут недавно сделали редизайн, поэтому сайт в активной разработке.
      Если у вас есть идеи, предложения или вы нашли ужасающий баг — шлите это нам через кнопку «Обратная связь» справа!
    </div>
  </td>
</tr>
{% endblock %}
