{% extends "main_app/base.html" %}

{% block main %}
<tr>
  <td class="content">
    <div class="px-4 rounded-3 shadow py-3">
      <h1><b>{{ title }}</b></h1>

      <p>
        <b>Ludik.net</b> — игровой портал о видеоиграх и всем, что с ними связано: рецензии, превью, прохождения, новости индустрии, обзоры компьютерной техники и прочие специальные проекты.
        Информация на Сайте представлена в различном виде, от текстовых материалов до видеороликов и прямых трансляций (стримов).
        Кроме авторских работ на Сайте есть возможность высказывать своё мнение с помощью системы комментариев, а также размещать собственные материалы и обсуждения в разделе «Форумы».
        Использование Сайта возможно лишь при полном и безоговорочном согласии с условиями данного Пользовательского соглашения.
        Пользователь, полностью или частично несогласный с этими условиями, обязан немедленно прекратить любое использование Сайта.
      </p>

      <h3><b>Термины</b></h3>
      <hr>

      <p>В данном Пользовательском соглашении используются следующие термины и понятия:</p>
      <p>
        <b>Администрация Сайта</b> — обладает всеми исключительными имущественными правами на Сайт (включая доменное имя Сайта), материалы, размещённые на Сайте, и осуществляет его администрирование и управление.
      </p>
      <p>
        <b>База данных Сайта</b> — совокупность всей Информации, размещённой на Сайте, имеющая определённую структуру и расположение.
      </p>
      <p>
        <b>Информация</b> — любая информация, размещаемая (размещённая) Пользователем или Администрацией Сайта на Сайте, в том числе: любые текстовые сообщения, ссылки на другие сайты, комментарии, изображения, аудио- и видеофайлы и иные материалы.
        Вся информация принадлежит своим правообладателям.
      </p>
      <p>
        <b>Модерация</b> — изменение и удаление любой Информации, имеющейся на Сайте, в том числе добавленной Пользователем.
      </p>
      <p>
        <b>Пользователь</b> — любое лицо, осуществляющее использование Сайта.
        Пользователь, прошедший процедуру регистрации и получивший уникальный логин и пароль, является зарегистрированным пользователем и имеет свой Профиль.
        Любой Пользователь, осуществляющий доступ и использование Сайта, автоматически соглашается с настоящим Пользовательским положением и принимает требования, установленные настоящим Пользовательским положением.
      </p>
      <p>
        <b>Профиль (аккаунт/учётная запись) пользователя</b> — специальный подраздел Сайта, защищённый паролем.
        В Профиле содержится информация о Пользователе, включая личные и контактные данные.
        Данная информация размещается самим Пользователем.
        Каждый Пользователь вправе иметь только единственный Профиль.
      </p>
      <p>
        <b>Персональная информация Пользователя</b> — совокупность информации, предоставленная о себе Пользователем самостоятельно при совершении процедуры регистрации и/или в процессе использования Сайта.
        Включает в себя персональные данные Пользователя, информацию, которая автоматически передаётся Администрации Сайта в процессе использования Сайта с помощью установленного на устройстве Пользователя программного обеспечения, в том числе информация из файлов cookie, уникальный IP-адрес, с которого осуществляется доступ к Сайту, данные браузера, а также иную информацию о Пользователе.
      </p>
      <p>
        <b>Сайт</b> — совокупность размещённых в сети электронных документов, объединённых единой темой, дизайном и единым адресным пространством домена ludik.net.
        Стартовая страница Сайта размещена в сети Интернет по адресу https://ludik.net.
        Все исключительные имущественные права на Сайт принадлежат Администрации сайта.
      </p>
      <p>
        <b>Спам</b> — почтовые и иные рассылки рекламного, информационного, агитационного или иного характера, получение которых не санкционированно получателями.
      </p>
      Любые термины и определения, использующиеся в настоящем Пользовательском соглашении, не указанные в разделе «Термины», будут толковаться в соответствии со смыслом, вытекающим из текста Пользовательского соглашения.
      В случае возникновения любых разногласий относительно толкования термина и/или понятия, используемого в Пользовательском соглашении, применяться будет то толкование, которое будет определено Администрацией Сайта.
    </div>
  </td>
</tr>
{% endblock %}
